<a href="https://colab.research.google.com/github/khanapujiyanti/PSDS_5.0_KelasDasar/blob/main/psds3_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## List

List adalah jenis kumpulan data terurut (ordered sequence), bisa diubah elemennya(mutable), bisa ditambahkan elemen baru atau menghapus elemen (changeable), dan merupakan salah satu variabel yang sering digunakan pada Python. Serupa, namun tak sama dengan array pada bahasa pemrograman lainnya. Bedanya, elemen List pada Python tidak harus memiliki tipe data yang sama. Mendeklarasikan List cukup mudah dengan kurung siku dan elemen yang dipisahkan dengan koma.

Setiap data di dalamnya dapat diakses dengan indeks yang dimulai dari 0.

In [ ]:
#Contoh List
L1=[ 1,4,2,13]
print(type(L1))

<class 'list'>

In [ ]:
L2=["a", "Python",3]
print(type(L2))

<class 'list'>

In [ ]:
print(L1)
print(L2)

[1, 4, 2, 13]
['a', 'Python', 3]

Indeks di python (List,Tuple) mulai dari **0**

In [ ]:
#Sifat-sifat List

#Terurut/Ordered
print("Memanggil List L1 dengan indeks urutan:", L1[0:3])

#Bisa Diganti/Mutable
L1[1] = 2
print("List L1 setelah diganti elemennya:", L1)

L1 = [1, "dua", True, 2+3j]

#Dapat Diindeks/Slicing
print("Slicing List L1:", L1[3])

#Dapat Diijinkan Duplikasi
L1 = [1, "dua", True, 2+3j, 2+3j]
print("Duplikasi pada List L1:", L1)

#Dapat mengubah data dengan mengganti elemen tertentu
L1 = [1, "dua", True, 2+3j]
L1[2]=3
print("Data setelah diubah:", L1)

#Dapat menambahkan elemen baru pada data
L1 = [1, "dua", True, 2+3j]
L1.append(20)
print("Data setelah ditambahkan elemennya:", L1)

#Dapat menghapus elemen pada data (remove() = menghapus berdasarkan nama objek)
L1 = [1, "dua", True, 2+3j]
L1.remove(2+3j)
print("Data setelah dihapus elemennya:", L1)

Memanggil List L1 dengan indeks urutan: [1, 4, 2]
List L1 setelah diganti elemennya: [1, 2, 2, 13]
Slicing List L1: (2+3j)
Duplikasi pada List L1: [1, 'dua', True, (2+3j), (2+3j)]
Data setelah diubah: [1, 'dua', 3, (2+3j)]
Data setelah ditambahkan elemennya: [1, 'dua', True, (2+3j), 20]
Data setelah dihapus elemennya: [1, 'dua', True]

In [ ]:
#menambahkan data menggunakan fungsi extend(menambahkan elemen baru pada list namun elemen tersebut ditambahkan secara individual)

L1 = [1, "dua", True, 2+3j]
L1.extend("nanas")
print(L1)

[1, 'dua', True, (2+3j), 'n', 'a', 'n', 'a', 's']

In [ ]:
L1= [1, "dua", True, 2+3j]
L1.extend(["nanas"])
print(L1)

[1, 'dua', True, (2+3j), 'nanas']

In [ ]:
#menambahkan data menggunakan fungsi insert(menambahkan elemen baru di list pada indeks tertentu)

L1 = [1, "dua", True, 2+3j]
L1.insert(2, 5)
print(L1)

[1, 'dua', 5, True, (2+3j)]

In [ ]:
#menghapus elemen dari list menggunakan fungsi pop() (menghapus berdasarkan indeks)
L1 = [1, "dua", True, 2+3j]
L1.pop(2)
print(L1)

[1, 'dua', (2+3j)]

In [ ]:
L1 = [1, "dua", True, 2+3j]
L1.pop()
print(L1)

[1, 'dua', True]

##Latihan 1

In [ ]:
#Buatlah List kalian sendiri
L=[True, 9, "satu", 1+1j, ]
print(type(L))
print(L)

<class 'list'>
[True, 9, 'satu', (1+1j)]

##Latihan 2

In [ ]:
#Ganti elemen yang ada pada List yang kalian buat

#Mengganti elemen
L[2]=1
print("List L setelah diganti elemennya:", L)

#Di indeks/ Slicing
print("Slicing data:", L[2])

#Menduplikat data
L=[True, 9, 1, (1+1j), 1]
print("data setelah di duplikat:", L)

#Mengubah data dengan mengganti elemen
L[1]="sembilan"
print("Data setelah mengganti elemen:", L)

#Menambah elemen baru menggunakan:
#Fungsi append
L.append(3)
print("Data setelah ditambah elemen menggunkan fungsi append:", L)

#Fungsi extend
L.extend(["aku"])
print("Data setelah ditambah elemen menggunkan fungsi extend:", L)

#fungsi insert
L.insert(2,0)
print("Data setelah ditambah elemen menggunkan fungsi insert:", L)

#Menghapus elemen data
L.remove(3)
print("data setelah dihapus elemennya:", L)

#Menghapus elemen data menggunakan fungsi pop
L.pop()
print("data setelah dihapus elemennya:", L)

List L setelah diganti elemennya: [True, 9, 1, (1+1j)]
Slicing data: 1
data setelah di duplikat: [True, 9, 1, (1+1j), 1]
Data setelah mengganti elemen: [True, 'sembilan', 1, (1+1j), 1]
Data setelah ditambah elemen menggunkan fungsi append: [True, 'sembilan', 1, (1+1j), 1, 3]
Data setelah ditambah elemen menggunkan fungsi extend: [True, 'sembilan', 1, (1+1j), 1, 3, 'aku']
Data setelah ditambah elemen menggunkan fungsi insert: [True, 'sembilan', 0, 1, (1+1j), 1, 3, 'aku']
data setelah dihapus elemennya: [True, 'sembilan', 0, 1, (1+1j), 1, 'aku']
data setelah dihapus elemennya: [True, 'sembilan', 0, 1, (1+1j), 1]