<a href="https://colab.research.google.com/github/khanapujiyanti/PSDS_5.0_KelasDasar/blob/main/psds3_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Struktur Data Tuple

Tuple adalah jenis dari struktur data yang tidak dapat diubah elemennya dan juga tidak bisa ditambahkan atau dihapus elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [ ]:
#Contoh Tuple
T1 = (1, "dua", True, 1+2j)
print("ini adalah tuple", T1)

ini adalah tuple (1, 'dua', True, (1+2j))

In [ ]:
T11 = 1, "dua", True, 1+2j
print("ini adalah tuple", T11)

ini adalah tuple (1, 'dua', True, (1+2j))

In [ ]:
#Menampilkan tipe struktur data
type(T1)

tuple

In [ ]:
type(T11)

tuple

**Sufat-sifat Tuple**

In [ ]:
#Terurut/Ordered
T1[0:3]

(1, 'dua', True)

In [ ]:
#Tidak Bisa Diganti/Immutable
T1[2] = "manusia"

TypeError: ignored

In [ ]:
#Dapat Diindeks/Slicing
print("elemen kedua dari tuple T1 adalah: ", T1[1])

elemen kedua dari tuple T1 adalah:  dua

In [ ]:
#Dapat Diijinkan Duplikasi
T2 = (3, 2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

In [ ]:
#tidak dapat menambahkan elemen baru
T1 = (1, "dua", True, 1+2j)
print(f'  tuple\t: {T1}')

  tuple	: (1, 'dua', True, (1+2j))

In [ ]:
T1.append(10)
T1.append(50)
print(f'  tuple\t: {T1}')

AttributeError: ignored

In [ ]:
#tidak dapat menghapus elemen
T1 = (1, "dua", True, 1+2j)
print(f'  tuple\t: {T1}')

  tuple	: (1, 'dua', True, (1+2j))

In [ ]:
T1.remove(1)
T1.remove("dua")
print(f'  tuple\t: {T1}')

AttributeError: ignored

**Menggabungkan Tuple**

In [ ]:
# Menggabungkan Tuple
T3 = T1 + T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

##LAtihan 1

In [ ]:
#Buatlah tuplemu sendiri
D1=True, 9, "satu", 1+1j
print(type(D1))
print(D1)

<class 'tuple'>
(True, 9, 'satu', (1+1j))

##Latihan 2

In [ ]:
#Buatlah tuple kedua lalu gabungkan 2 tuple yang telah kamu buat
D2=(False, 1j+1, "kamu")
D3= D1+D2
D3

(True, 9, 'satu', (1+1j), False, (1+1j), 'kamu')